TeenProgram{
  @primary-color: #880e4f;
  @text-color: #fff;

  .page-content{
    // margin-top: 60px;
  }

  footer{
    background-color: @primary-color;
    color: @text-color;
    text-align: center;
    padding: 30px !important;
  }
}

@import '../navigation/navigation.less';
@import '../home/home.less';
