Navigation {
  .navbar-fixed-top{
    padding: 0;
    margin: 0;
  }
  .navbar{
    background: black;
    opacity: .9;
    padding: 0 10px;
  }
  .nav-link {
    color: #fff;
    font-weight: 600;
    font-size: 1.5em;
  }
   a:hover{
    color: #870e3a;
  }
  .navbar-brand {
    color: #fff;
    font-weight: 800;
    font-size: 1.5em;
  }
  .active{
    border-top: 2px solid #870e3a;
    border-bottom: 2px solid #870e3a;
  }
  .navbar-toggler{
    color: #870e3a;
    float: right;
    position: relative;
    right: 2px;
    font-size: 1.5em;
  }
}
